
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');
.firstbox{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    /* width: 95%; */
    width: 50%;
    padding-top: 7vh;
}
.headline{
    font-size: 3.5em;
    width: 100%;
    margin-bottom: 5vh;
    /* font-family: fantasy; */
    font-family: fantasy;
    /* font-family: "Protest Strike", sans-serif;
    font-weight: 400;
  font-style: normal; */
}
.pgpg{
    width: 40%;
    margin-bottom: 5vh;
    font-family: cursive;
}
.abt{
    font-size: larger;
    color: purple;
}
.codepic{
    height: 60vh;
} 
.parent{
    display: flex;
      width: 95vw; 
         justify-content: space-evenly; 
}    
@media only screen and (max-width: 700px) {
    .parent{
        display: flex;
        /* width: 95vw; */
        /* justify-content: space-evenly; */
        flex-direction: column;
        /* background-color: aqua; */
    }
    .firstbox{
        /* padding: 1rem; */
        display: flex;
        flex-direction: column;
        width: 90vw;
        /* width: 50%; */
        padding-top: 7vh;
    }
 
    .pgpg{
        width: 90vw;
        /* background-color: aqua; */
        margin-bottom: 2vh;
        /* font-family: cursive; */
        font-family: "Montserrat", sans-serif;
    }
    .headline{
        font-size: 2em;
        width: 100%;
        margin-bottom: 2vh;
        /* font-family: fantasy; */
        display: flex;
        /* align-items: center; */
        justify-content: left;
        font-family: "Protest Strike", sans-serif;
        /* font-family: "Assistant", sans-serif; */
    font-weight: 400;
  font-style: normal;
    }
    .codepic{
        margin-right: auto;
        margin-left: auto;
        height: 45vh;
        /* width: 81%; */
    }
}