
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');
.secondbox{
    /* padding: 1rem; */
    display: flex;
    /* flex-direction: column; */
    width: 95%;
}
.headline2{
    font-size: 3.5em;
    width: 48%;
    margin-bottom: 1vh;
    font-family: fantasy;
    color: white;
}
.pgpg2{
    width: 40%;
    margin-bottom: 5vh;
    font-family: cursive;
    color: white;
    
}
.abt{
    font-size: larger;
    color: purple;
}
.cnt2{
    width: 90%;
}
ul{
    list-style: circle;
    /* justify-content: left; */
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: white;
}
@media only screen and (max-width:700px) {
    .secondbox {
        /* padding: 1rem; */
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .headline2 {
        font-size: 2em;
        width: 100%;
        margin-bottom: 5vh;
        /* font-family: fantasy; */
        display: flex;
        /* align-items: center; */
        justify-content: left;
        font-family: "Protest Strike", sans-serif;
    }
    .pgpg2{
        font-family: "Montserrat", sans-serif;
    }
    li{
        font-family: "Montserrat", sans-serif;

    }
}